[submodule "bundle/bash-support"]
	path = bundle/bash-support
	url = git://github.com/vim-scripts/bash-support.vim.git
[submodule "bundle/git-vim"]
	path = bundle/git-vim
	url = git://github.com/motemen/git-vim.git
